.main-block__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-block--background--red {
    background-color: #eb5757;
}

.menu__item-position {
    margin: 0 20px;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    display: flex;
    padding: 0;
}

.menu__item {
    padding: 4px 10px;
}

.menu__item:hover {
    background-color: black;
    border-radius: 5px;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn {
    width: 50px;
    height: 36px;
}

body {
    overflow: hidden;
}

.header-btn {
    background-color: #222222;
    border-radius: 5px;
    border: none;
    padding: 6px 15px;
}

.cart-popup {
    position: absolute;
    width: 400px;
    height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: none;
    padding: 10px;
    right: 50%;
}

.header__controls-btn {
    position: relative;
}

.header__controls-btn:hover .cart-popup {
    display: block;
}

.menu__item-style {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

 .cart-popup {
    position: absolute;
    width: 400px;
    height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: none;
    padding: 10px;
    right: 50%;
}